@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.15px;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    vertical-align: middle;
    min-height: 40px;
    
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 40px;
    font-weight: 800;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    
    border: none;    
    background-color: transparent;
    background-image: linear-gradient(transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
}

.button:hover {
    background-image: linear-gradient(transparent 0, #f0c52e 0, #f0c52e 40px, transparent 40px);
}

.button:active {
    color: #be9c22;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header {
    min-height: 255px;
    margin-top: 40px;
    padding: 45px 60px 0;
    
    background-color: #f7e296;
}

.navigation-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 500px;
}

.main-navigation {
    position: relative;
}

.main-header-logo {
    position: absolute;
    top: -64px;
}

.main-header .top-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 33px; 
}

.main-header .user-navigation,
.main-header .purchase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 440px;
    margin-top: -3px;
}

.search-form input {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    
    font: inherit;
    opacity: 0.3;
    
    padding-left: 40px;
    background-color: transparent;    
    border: none;
}

.search-form input:hover {
    opacity: 0.6;
}

.search-form input:focus {
    font: inherit;
    border-bottom: 2px solid black;
    
    opacity: 1;
    outline: none;
}

.search-icon {
    position: absolute;
    top: 9px;
    left: 3px;
    
    width: 16px;
    height: 16px;
    
    background-image: url(../img/search.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.search-button {
    font: inherit;
    
    border: 2px solid black;    
    background-color: transparent;
    
    opacity: 0;
}

.search-form input:focus ~ .search-button,
.search-button:focus {
    opacity: 1;
}

.search-button:hover {
    color: rgba(255, 255, 255, 1);    
    background-color: #000000;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.login-link a {
    position: relative;
    padding-left: 27px;
}

.login-link a::before {
    content: '';
    
    position: absolute;
    top: 3px;
    left: -2px;
    
    width: 16px;
    height: 16px;
    
    background-image: url(../img/user.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.compare a,
.cart a {
    position: relative;
    padding-left: 20px;
    margin-left: 45px;
}

.compare a::before {
    content: '';
    
    position: absolute;
    top: 5px;
    left: 0;
    
    width: 16px;
    height: 16px;
    
    background-image: url(../img/compare.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.cart a::before {
    content: '';
    
    position: absolute;
    top: 3px;
    left: -2px;
    
    width: 16px;
    height: 16px;
    
    background-image: url(../img/cart.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    
    list-style: none;    
}

.main-navigation a {
    color: #000000;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
    position: relative;
}

.site-navigation-item > a {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3.6px;
}

.main-navigation a:hover {
    opacity: 0.6;
}

.main-navigation a:active {
    opacity: 0.3;
}

.sub-menu a {
    line-height: 36px;
}

.plus-sign {
    position: relative;
    z-index: 2;
    
    cursor: pointer;
}

.plus-sign a {
    padding-right: 28px;
    
    cursor: pointer;
}

.plus-sign::before,
.plus-sign::after {
    content: '';
    
    position: absolute;
    z-index: -1;
    
    width: 2px;
    height: 16px;
    
    background-color: #b8a974;
}

.plus-sign::before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    
    left: 236px;
    top: 6px;
}

.plus-sign::after {
    left: 236px;
    top: 6px;
}

.site-navigation .dropdown {
    display: none;
    width: 1100px;
    min-height: 144.4px;
    padding-top: 20px;
    
    position: absolute;
    top: 25px;
    left: 0;
    
    background-color: #f7e296;
}

.plus-sign:hover * + .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dropdown .col-1 {
    min-width: 220px;
}

.dropdown .col-2,
.dropdown .col-3 {
    min-width: 180px;
    padding-left: 20px;
}

ul.navigation-wrapper {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

ul.navigation-wrapper li:not(:last-of-type) {
    margin-right: 35px;
}

ul.navigation-wrapper li:last-of-type {
    margin-left: auto;
}

.promo-slider {
    min-height: 481px;
    
    position: relative;
}

.promo-slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;    
}

.promo-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
    position: relative;
    z-index: 1;
    top: -110px;
}

.promo-item:not(.active) {
    display: none;
}

.promo-item::before {
    content: '';
    
    position: absolute;
    top: 36px;
    left: 600px;
    
    width: 100px;
    height: 7px;
    
    background-color: white;
}

.promo-image-container,
.promo-item-text {
    width: 560px;
}

.promo-image-container {
    text-align: center;
}

.promo-item-count {
    position: absolute;
    top: -14px;
    right: 47px;
    z-index: 0;
    
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 179.2px;
    line-height: 179.2px;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 1.79px;
}

.promo-item-lead {
    position: relative;
    
    margin: 0;
    margin-top: 78px;
    
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;
    font-weight: 800;
    letter-spacing: 0.47px;
}

.promo-item-info {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 43px;
    
    color: #464646;
}

.promo-item-text .button {
    min-width: 220px;
    margin-bottom: 50px;
}

table.promo-item-features {
    border-collapse: collapse;
}

.promo-item-features td {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.36px;
    
    padding: 0;
    padding-bottom: 8px;
    border: none;
}

.promo-item-features th {
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #464646;
    letter-spacing: 0.13px;
    
    padding: 0;
    border: none;
}

.promo-item-features td:first-child {
    min-width: 160px;
}

.promo-item-features td:nth-child(2) {
    min-width: 140px;
}

.promo-slider-controls {
    position: absolute;
    top: 205px;
    right: 65px;
    
    margin: 0;
}

.promo-slider .slider-control {
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 0;
    margin-right: 17px;
    border: 1px solid black;
    border-radius: 50%;
    
    position: relative;
    
    background-color: transparent;
}

.slider-control.active::before {
    content: '';
    
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    
    width: 3px;
    height: 3px;
    border: 1px solid black;
    border-radius: 50%;
}

.catalog-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 180px;
    padding: 0;
    
    list-style: none;
}

.catalog-menu-item {
    width: 160px;
}

.catalog-menu-item a {
    display: block;
}

.catalog-menu-item .image-container {
    height: 160px;
    margin-bottom: 35px;
    
    background-color: #f7e296;
}

.catalog-menu-item a:hover .image-container {
    background-color: #f0c52e;
}

.catalog-menu-item p {
    margin: 0;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;
    letter-spacing: 0.18px;
}

.catalog-menu-item a:active {
    opacity: 0.3;
}

.services-slider {
    min-height: 288px;
    
    background-color: #e5e5e5;
}

.services-slider .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}

.services-slider-controls {
    width: 280px;
    margin-right: 120px;
}

.service-slider-list {
    width: 715px;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.slider-service-title,
.about-title,
.contacts-title {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    letter-spacing: 0.47px;
}

.slider-service-text p {
    color: #464646;
}

.trademarks-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 94px 0 93px;
    
    list-style: none;
}

.index-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about {
    width: 460px;
    padding-bottom: 90px;
}

.contacts {
    width: 560px;
    padding-bottom: 90px;
}

.about h2,
.contacts h2 {
    margin: 0;
    margin-top: 50px;
}

.about p,
.contacts p {
    color: #464646;
}

.delivery-list {
    list-style-type: circle;
    
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: 0.16px;
}

.main-footer {
    padding: 66px 0;
    
    background-color: #464646;
}

.main-footer ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.footer-top,
.footer-middle,
.footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-top-wrapper {
    width: 500px;
    margin-left: auto;
}

.footer-logo:hover {
    opacity: 0.6;
}

.footer-top {
    margin-bottom: 30px;
}

.main-footer a:hover .icon-text {
    opacity: 1;
}

.main-footer a:active {
    opacity: 0.3;
}

.main-footer .icon-text {
    font-size: 15px;
    line-height: 36px;
    font-style: normal;
    color: #ffffff;
    letter-spacing: 0.15px;
    
    opacity: 0.7;
}

.login-link a:hover img,
.user-name a:hover img,
.compare a:hover img,
.cart a:hover img {
    opacity: 0.6;
}

.footer-address,
.footer-tel {
    margin: 0;
    
    color: #ffffff;
    letter-spacing: 0;
}

.footer-navigation a {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3.6px;
}

.footer-navigation a:hover {
    opacity: 0.6;
}

.footer-navigation a:active {
    opacity: 0.3;
}

.footer-middle {
    margin-bottom: 55px;
}

.footer-copyright {
    line-height: 0;
}

.modal-message {
    background-color: #ffffff;
}

.message-form label {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0;
}

.message-form input,
.message-form textarea {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    
    background-color: #f2f2f2;
    border: none;
}

.message-form input:hover,
.message-form textarea:hover {
    background-color: #eaeaea;
}

.message-form input:focus,
.message-form textarea:focus {
    outline: 3px solid #f7e296;
}

.message-form input:invalid {
    background-color: #f6dada;
}

/* CATALOG */

.inner-page .main-header {
    margin-bottom: 44px;
}

.logout-link a {
    opacity: 0.3;
}

.page-title {
    margin: 0;
    padding-left: 60px;
    
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    letter-spacing: 0.47px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    padding-left: 60px;
    margin-bottom: 45px;
    
    list-style: none;
    opacity: 0.3;
    
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.14px;
}

.breadcrumbs a {
    font: inherit;
    color: #000000;
}

.breadcrumbs a:hover {
    opacity: 0.6;
}

.breadcrumbs a:active {
    opacity: 0.1;
}

.grey-background {
    background-color: #efefef;
}

.catalog-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.filters {
    width: 328px;
}

.catalog {
    width: 832px;
    
    background-color: #ffffff;
}

.filters-title,
.sorting-title {
    margin: 0;
    
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

.filters-title {
    background-color: #dcdcdc;
}

.filter-form  fieldset {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.18px;
    
    border: none;
}

.filter-form label {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;
    letter-spacing: 0.14px;
}

.sorting {
    background-color: #efefef;
}

.sorting-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0;
}

.sorting-item a {
    color: #000000;
    opacity: 0.3;
}

a.sorting-item-active {
    opacity: 1;
}

.sorting-item a:hover:not(.sorting-item-active) {
    opacity: 0.6;
}

.sorting-item a:active:not(.sorting-item-active) {
    opacity: 1;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 69px 0 0 72px;
    
    list-style: none;
}

.catalog-item {
    width: 360px;
    margin-bottom: 40px;
}

.catalog-item-title {
    margin: 0;
}

.catalog-item-title a {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.18px;
    color: #000000;
}

.catalog-item img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.price {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #464646;
}

.compare-button {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 0.13px;
    
    opacity: 0.5;
}

.compare-button:hover {
    opacity: 1;
}

.compare-button:active {
    opacity: 0.2;
}

.pagination {
    margin: 0 0 77px 72px;
    padding: 0;
    
    list-style: none;
    background-color: #efefef;
}

.main-footer .logout-link a {
    color: #ffffff;
    opacity: 0.3;
}

.main-footer .logout-link a:hover {
    opacity: 1;
}

.main-footer .logout-link a:active {
    opacity: 0.3;
}

.inner-page .main-footer {
    margin-top: 0;
}